
body {
  background-image: url('https://th.bing.com/th/id/OIP.3cvfAhLHWQYpiIFLXAGsuQHaCk?w=347&h=121&c=7&r=0&o=5&pid=1.7');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
