.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  * {
    display: block !important;
    color: rgb(0, 0, 0) !important;
  }
  .text-primary {
    font-weight: 500;
    text-decoration: none;
    color: blue;
  }
  
  .text-primary:hover {
    text-decoration: underline;
  }
  