.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card {
  margin-bottom: 20px;
}

.btn-primary {
  width: 100%;
}

.text-center {
  color: aliceblue;
}

/* Toppings Section */
.toppings-section {
  margin-top: 10px;
}

.topping-item {
  margin: 5px 0;
}

.topping-item label {
  display: flex;
  align-items: center;
}

.topping-item input {
  margin-right: 5px;
}